.header__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__logo__text {
    margin-top: -20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list ul {
    display: flex;
    gap: 40px;
}

.header__logo__text {
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56.5px;
    /* 226% */
}

.header__list LI {
    color: #000;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
@media(max-width:1024px){
    .header {
        justify-content: space-around;
    }
}

@media(max-width:390px){
    .header__list {
        display: none;
    }
}